.choice-container{
    display: flex;
    border: 0.1rem solid black;
    margin-bottom: 2.5rem;
    max-width: 70rem;
    background-color: white;
    justify-content: center;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.6rem 1.4rem 0 black;
    transform: translateY(-0.1rem)
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: blue;
    color: white;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

/*Head of display*/
#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    align-text: center;
}

#progressBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid black;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 4rem;
    background: black;
    width: 0%
}

/*loader*/
#loader{
    border: 1.6rem solid white;
    border-radius:50%;
    border-top: 1.6rem solid black;
    width: 12rem;
    height: 12rem; 
    animation: spin 2s  linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#end{
    padding-top: 4%;
    padding-bottom: 5%;
    width: 70rem;
}
