.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}
  
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

/*Head of display*/
#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    align-text: center;
}

#progressBar{
    width: 20rem;
    height: 4.3rem;
    border: 0.3rem solid black;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 4rem;
    background: black;
    width: 0%
}

/*loader*/
#loader{
    border: 1.6rem solid white;
    border-radius:50%;
    border-top: 1.6rem solid black;
    width: 12rem;
    height: 12rem; 
    animation: spin 2s  linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#end{
    padding-top: 4%;
    padding-bottom: 5%;
    width: 70rem;
}

@media only screen and (max-width: 600px){
    .choice-container {
        margin-left: 2%;
        margin-right: 5%;
        width: 90%;
        
    }

    .hud-prefix{
        text-align: center;
        font-size: 1.5rem;
    }

    #progressBar{
        margin-left: 2rem;
    }

    #progressBar{
        width: 10rem;
        height: 2.5rem;
    }
    
    #progressBarFull{
        height: 2.0rem;
    }

    #hud{
        display: flex;
        justify-content: space-between;
        margin-right: 10%;
    }

    .correct{
        background-color: green;
    }
    
    .incorrect{
        background-color: red;
    }
    
  
    
}
  
