#help{
  padding-top: 8%;
  padding-bottom: 20%;
  width: 70rem;
  
}

#help h1{
  text-align: center;
}

.help-body{
  font-size: 18px;
  font_weight: 800;
}

.btn-help{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #302a18;
    margin-left: 26rem;
    margin-top: 4rem;
    background-color: white;
  
  }

  .btn-help a{
    text-decoration: none;
    color: #302a18;
  }
  
  .btn-help:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background-color: gray;
  }
  
  .btn-help[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  @media only screen and (max-width: 600px){
    .help-body{
      font-size: 14px;
      font_weight: 900;
      justify-content: justify;
    }
    
    #help{
      width: 35rem; 
      padding-top: 8%;
      padding-bottom: 2%;
    }

    .btn-help{
      width: 10rem;
      margin-left: 10rem;
      margin-top: 4rem;
      font-size: 14px;
      margin-top: 2rem;
    }
    
    
  }